.forms{
  border: solid;
  margin: 25px 300px;
  padding-left: 50px;
  padding-right: 50px;
}

.form-heading,.form-sub-heading,.form-text{
text-align: center;
margin-top: 10px;

}

.new_page{
  padding-top: 50px;
  margin:auto;
  border-style: dotted;
  border-color:#A8E890;
  width:600px;
  text-align: center;
  height: 250px;
  /* width: 100%; */
  background-color: #CFFF8D;
}
.new_heading{
  color: black;

}











.main-container{
  border: solid;
  margin: 25px 300px;
  padding-left: 50px;
  padding-right: 50px;
}
h1{
  text-align: center;
  font-family: Ubuntu;
  color: green;
  font-weight: lighter;
}
h2{
  text-align: center;
  font-family: Ubuntu;
}
.sub{
  color: grey;
}

.btn{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
}

.radio-button{
  margin-right: 20px;
}

.accordion-item,.accordion-header{
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 20px;

}

.accordion-button{
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
box-shadow: 0;
}
.accordion{
  border-width: 0;
}


.last-button{
text-align: center;
margin-bottom: 50px;
}

#hobbies_0{
color: grey;
font-size: 1.2rem;
}


.mains{
  background-color: #FAF7F0;
  margin: 25px 300px;
  padding-left: 50px;
  padding-right: 50px;
}
